.date-title {
    text-align: center !important;
    user-select: none;
}

.date-title h4 {
    margin: 10px 0 0;
}

.fc-event.event-canceled {
    &,
    .fc-event-title {
        text-decoration: line-through !important;
    }
}

.fc th {
    font-weight: normal;
}

.fc-content > .user > .avatar {
    position: relative;
    top: -1px;
}

.fc-time-grid-event .fc-bg {
    opacity: 0 !important;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.fc-event {
    border-radius: var(--border-radius) !important;
    background-color: none !important;
}

.dashlet-body div.calendar-container {
    height: 100% !important;
}

.fc-event {
    min-height: 19px !important;
}

.fc-day-grid-event .fc-time {
    font-weight: normal !important;
}


.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {
    padding-top: 0 !important;
}

.fc-ltr .fc-basic-view .fc-day-top {
    text-align: right !important;
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .fc-view-container {
        font-size: 85%;
    }
}

body .fc-content-col > .fc-now-indicator-line {
    height: 1px;
    border-top: 1px solid var(--brand-danger);
    border-bottom-width: 0;
    background-color: var(--brand-danger);

    &:before {
        content: "";
        position: inherit;
        left: -4px;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background-color: var(--brand-danger);
        display: inline-block;
        top: -4px;
        opacity: 0.9;
    }
}

//-----

.fc-col-header {
    user-select: none;

    a.fc-col-header-cell-cushion,
    a.fc-timegrid-axis-cushion {
        &,
        &:hover {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}

.fc {
    overflow: hidden;

    .fc-bg-event {
        opacity: 0.5;
    }

    .fc-day-today.fc-timegrid-col {
        background-color: transparent;
    }

    .fc-day-today {
        .fc-col-header-cell-cushion,
        .fc-daygrid-day-number {
            &,
            &:hover {
                color: var(--state-warning-text);
            }
        }
    }

    .fc-timegrid-now-indicator-line {
        opacity: 0.9;

        height: 2px;
        border-top: 1px solid var(--brand-danger);
        border-bottom-width: 0;
        background-color: var(--brand-danger);

        &:before {
            content: "";
            position: inherit;
            left: -4px;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: var(--brand-danger);
            display: inline-block;
            top: -4px;
            opacity: 0.9;
        }
    }

    .fc-timegrid-now-indicator-arrow {
        display: none;
    }

    .fc-timegrid-slot-minor {
        border-top-style: none;
    }

    .fc-timegrid-slot-label-cushion,
    a.fc-daygrid-day-number {
        &,
        &:hover {
            color: var(--text-color);
            text-decoration: none;
            cursor: default;
        }
    }

    a.fc-daygrid-week-number {
        &,
        &:hover {
            color: var(--gray-soft);
            text-decoration: none;
            cursor: default;
        }
    }
}


/* @todo Rewise.
.dashlet-body {
    .fc-basicWeek-view td.fc-widget-content,
    .fc-month-view .fc-body > tr > td.fc-widget-content {
        border-bottom: 0;
    }
}*/

:root {
    --fc-neutral-bg-color: none;
    --fc-now-indicator-color: var(--brand-danger);
    --fc-border-color: var(--calendar-border);
    --fc-today-bg-color: var(--calendar-today-bg);
}
